/* new pallet */

$color-orange: #f5330c;
/*$color-blue-primary: #002132;	*/
$color-blue-primary: #051a26;
$color-light-gray: #F8F9FA;	
$color-muted-yellow: #fca700;
$color-muted-yellow-dark: #f0a002;
$color-dark-orange: #db3514;
$color-white: #fff;
$color-black: #000;
$color-error-background: #fadbd8;
$color-success-background: #d1f2eb;
$nav-light-black: #313338;
$nav-black: #27282d;
$nav-gray-group: #909495;
$nav-gray-subgroup: #bec1c3;
$input-border-gray: #ededee;
$color-apple-blue: #007AFF;

/* old pallet */

$color-delete-red: #C0392B;
$color-delete-red-hover: #b23529;
$color-primary: #fff;
$color-members-navigation: #808B96;
$color-black-2: #555;
$color-black-3: #4D4D4D;
$color-light-gray: #efefef;
$color-light-gray-2:#BFC9CA;
$color-light-gray-3:#ECF0F1;
$color-light-gray-4:#E6E6E6;
$color-light-gray-5:#BBBABA;
$color-light-gray-6:#E8E8E8;
$color-light-gray-7: #E3E2E2;
$color-light-gray-8: #AEB6BF;
$color-near-white-1: #F9F9F9;
//$color-light-gray-4:#F8F7F7;
$color-gray: gray;
$color-input-highlight: gray;
$color-button-primary: #5da03a;
$color-button-secondary: #455a21;
$color-navbar:#FAFAFA;
/*$color-orange: #ffab4b;*/
/*$color-dark-orange:#BA4A00;*/
$color-dark-orange-2:#A04000;
$color-light-orange-1: #FAE5D3;
$color-dark-orange-hover: #DE7D3D;
$color-light-orange-1: #FDF2E9;
$color-light-orange-2: #FAE5D3;
$menu-block-color: #ECF0F1;
$menu-block-hover: #F9E79F;
$color-dark-blue: #203456;
$color-light-black: #2A2B2C;
$color-success-green: #D5F5E3;
$color-light-white: #F2F3F4;
$color-nav-black: #5D6D7E;

$color-green: green;
$color-green-2: #018454;
$color-dark-green-2: #016a43;
$color-light-green-1: #D1F2EB; 
$box-shadow-1: 0px 8px 12px #091E4226, 0px 0px 1px #091E424F, 0 8px 12px #091e4226, 0 0 1px #091e424f;
