@import 'partials/colors';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bgc {
    /*background-color: #20232a;*/
    background-color: $color-navbar;
}

.orange-signup-button {
  background-color: $color-orange;
  padding:15px;
  border-radius: 30px;
  color:$color-primary;
  font-weight:bold;
  text-decoration:none;
  &:hover {
    color:$color-primary;
    background-color: $color-dark-orange;
  }
  a:link, a:visited {
    color: $color-white !important;
    text-decoration: none;
  }

  a:hover, a:active {
      color: $color-white;
      text-decoration: none;
      
  }
}

.notFound {
  width: 100%;
  margin:100px auto;
  text-align: center;
}

.modalHeader {
  background-color: $color-primary;
  padding: 15px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  /*margin-left: 2px;
  margin-right: 2px;*/
  color: $color-gray;
  a:link, a:visited, a:hover, a:active {
    color: $color-black;
  }
}

.modalBody {
  padding-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  /*margin-left: 20px;
  margin-right: 20px;*/
  font-size: 10pt;
  font-weight: bold;
  /*border-bottom: 1px solid $color-light-gray;*/
}

.generic-button {
  background-color: $color-button-primary;
  font-size: 20px;
  padding: 10px 19px;
  color: #fff;
  border-radius: 25px;
  border:0px;

  &:hover {
      background-color: $color-button-secondary;
  }
}
/*
.react-datepicker-wrapper {
  display: none !important;
}

.react-datepicker-popper {
  z-index: 9999 !important;
}
*/

.logoLink {
  z-index:1;
}
