@import 'partials/colors';

.sidebar {
    color:#fff;
    background-color: $color-light-black;
    opacity: .95;
    /*height: 100%;*/
    padding:20px 20px;
    height: 91vh;
    overflow-y: scroll;
}

.category {
    font-size: 14pt;
    font-weight:bold;
    color:#fff;
}

.subCategory {
    font-size: 12pt;
    font-weight:bold;
    color:#fff;
}

.showSidebarButton {
    float:left; 
    margin-top:10px;
    margin-left:10px;
    border-radius:50%;
    /*width:20px;
    height:20px;*/
    /*background-color:$color-black;*/
    text-align:center;
    vertical-align:center;
    .adjustArrow {
        position:relative;
        top:-3px;
    }
}

.loaded {
    padding: 5px 5px;
    margin-top:4px;
    background-color: $color-black-3;
    //background-color:$color-dark-orange;
    border-radius: 8px;
}
.notLoaded {
    padding:5px 5px;
    border-radius: 8px;
    margin-top:4px;
    &:hover {
        cursor: pointer;
        background-color: $color-nav-black;
    }
}